@import "../utils/container.scss";
@import "../utils/mixins";

.container__form {
  width: 100%;
  position: relative;
}

.form {
  display: inline-flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  width: 100%;
  &::after {
    @include tablet {
      content: "";
      display: flex;
      width: 100%;
      border-bottom: 1px solid #c4c4c4;
    }
  }
}
.form__box__flex {
  display: flex;
  gap: 11px;
  width: 100%;
}
.form__box {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 0;
  width: 100%;
}
.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input {
  display: flex;
  padding: 5px 8px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 5px;

  min-height: 29px;
  border: none;
  outline: none;
  color: #717171;
  background: #e8e8e8;
  font-size: 10px;
  font-weight: 400;
  transition: all 0.5s;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  @include tablet {
    padding: 5px 16px;
    font-size: 12px;
  }
  &:hover,
  &:focus {
    scale: 1.05;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
      0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    background: #696969;
    color: #f2f2f2;

    outline: none;
  }
}

.error__add {
  font-size: 8.5px;
  font-weight: 300;
  color: red;
  position: absolute;
  left: 0;
  bottom: -15px;
  opacity: 0.9;
}
.styledBtn {
  cursor: pointer;
  display: flex;
  height: 24px;
  padding: 4px 22px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 5px;
  background: #696969;

  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  color: #fff;

  font-size: 14px;
  font-weight: 400;

  border: none;
  outline: none;

  transition: all 0.5s;
  &:hover {
    scale: 1.05;
    background: #696969ed;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
      0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
}
.text__register {
  text-align: center;
  color: #696969;
  font-size: 14px;
}
.link__register {
  padding-left: 10px;
  color: #3e3e3e;
}
.textarea {
  resize: none;
  min-height: 75px;
}
