@import "../utils/container.scss";
@import "../utils/mixins";

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.list__item {
  position: relative;
  width: 618px;
  border-radius: 10px;
  //   border: 2px solid;
  background: #e8e8e8;
  padding: 12px;
}
.available {
  border: 2px solid #aaffaa !important; /* Зелений колір для статусу "available" */
}

.busy {
  border: 2px solid #f2994a !important; /* Червоний колір для статусу "busy" */
}

.unavailable {
  border: 2px solid #eb5757 !important; /* Сірий колір для статусу "unavailable" */
}

.close {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 12px;
  color: #000000;
}
.list__box {
  display: flex;
  align-items: center;
}
.list__title {
  color: #333;

  font-size: 14px;
  font-weight: 700;
}

.id {
  color: #717171;

  font-size: 8px;
  font-weight: 400;
}
.list__subject {
  color: #333;
  font-size: 14px;
  font-weight: 400;
}
.select {
  color: #333;
  margin-left: 18px;
  font-size: 14px;
  font-weight: 400;
  border: none;
  outline: none;
  background: none;

  cursor: pointer;
}

.list__price {
  margin-left: auto;
}
