@import "../utils/container.scss";
@import "../utils/mixins";

.pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.pagination__btn {
  padding: 0;
  font-size: 30px;
  font-weight: 500;

  color: #cbcaca;
  background-color: transparent;
  line-height: 30px;
  min-width: 30px;
  border: none;
  cursor: pointer;
  &.active {
    color: #696969;
  }
}
